.equCon .imgWrapper a{
    display:block;
}
.equCon .imgWrapper a .imgCon{
    padding:7px;
    background:#e5e5e5;
}
.equCon .imgWrapper  img{
    display:block;
    width:100%;
    height:auto;
}
.equCon .imgWrapper  p{
    text-align:center;
    font-size:14px;
    line-height:25px;
    color:#333;
    margin-bottom:10px;
}