a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
    color:#333;
}
ul{
    padding:0;
}
li{
    list-style:none;
}
h1,h2,h3,h4,h5,h6{
    margin:0;
}
p{
    margin:0;
}
*{
    padding:0;
    margin:0;
}
html{
    padding:0;
    margin:0;
    height:100%;
}
body{
    padding:0;
    margin:0;
    font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    background-color:#fff;
    height:100%;
}
.wrap{
    height:auto;
    min-height:100%;
    _height:100%;
}
.main{
    padding-bottom:65px;
}
.footer{
    text-align:center;
    height:65px;
    font-size: 14px;
    margin-top:-65px;
}
.container{
    position:relative;
}
/*header*/
.header_wrapper .navbar-default{
    border:none;
    background:none;
}
.header_wrapper .navbar-default ul li a{
    font-size:18px;
    color:#363636
}
.header_wrapper .navbar-default ul li.active a{
    background:none;
    color:#004592;
}
.header_wrapper .navbar-default ul li.active:hover a,.header_wrapper .navbar-default ul li:hover a{
    background:none;
    color:#004592;
}
.header_wrapper .navbar{
    margin-bottom:0;
}

/*container*/
/* banner */
.swiper-container {
    width: 100%;
    height: auto;
}
.waterItem{
    position:relative;
    overflow:hidden;
    padding:10px 0;
}
.waterItem .left{
    width:70%;
    height:auto;
    display:inline-block;
    float:left;
}
.waterItem .right{
    width:30%;
    height:auto;
    display:inline-block;
    float:left;
}
.service_wrapper .serviceDetail .service_con .waterItem .left img{
    display:block;
    height:auto;
    width:auto;
    max-width:100%;
    max-height:300px;
}
.service_wrapper .serviceDetail .service_con .waterItem .right img{
    display:block;
    width:100%;
    height:auto;
}

.line{
    height:1px;
    width:100%;
    background:#e5e5e5;
}
/*area*/
.conItem{
    padding:40px 0;
}
.conItem:nth-child(2n){
    background:#f0f0f0;
}
.conItem .content_title{
    margin:0 auto 20px auto;
    text-align: center;
}
.conItem .content_title h3::before,.conItem .content_title h3::after{
    position:absolute;
    display:block;
    content:"";
    width:70px;
    height:4px;
    background:#004592;
    top:50%;
    margin-top:-2px;
}
.conItem .content_title h3::before{
    left:0;
}
.conItem .content_title h3::after{
    right:0;
}
.conItem .content_title  h3{
    position:relative;
    display: inline-block;
    font-size:22px;
    color:#333;
    font-family: "黑体";
    padding:0 100px;
}
.conItem .content_title i{
    font-style: normal;
    font-size:14px;
}

@media screen and (min-width:768px){
    .conItem  .container_con .item{
        padding:7px;
    }
}
@media screen and (max-width: 767px){
    .conItem  .container_con .item{
        padding:0 0 15px 15px ;
    }
    .area_con{
        padding-right:15px;
    }
}
.conItem  .container_con .item a{
    display:block;
    position:relative;
    overflow:hidden;
}
.conItem  .container_con .item a img{
    display:block;
    width:100%;
    height:auto;
}
.conItem  .container_con .item a  .msg{
    position:absolute;
    margin-top:-45px;
    left:0;
    right:0;
    width:100%;
    z-index:100;
    background:rgba(0,0,0,0.8);
    color:#fff;
}
.conItem  .container_con .msg h3{
    margin:0;
    text-align: center;
    line-height:45px;
    background:#004592;
    color:#fff;
    font-size:20px;
}
.conItem  .container_con .msg p{
    display:inline-block;
    margin:0;
    line-height:25px;
    padding:7px;
}
.conItem  .container_con .item a:hover .msg{
    animation:animate_top 1s linear  forwards;
    -webkit-animation:animate_top 1s linear  forwards;
}
@-webkit-keyframes animate_top{
    from{bottom:-80%;}
    to{bottom:0}
}
@keyframes animate_top{
    from{bottom:-80%;}
    to{bottom:0}
}

.conItem  .container_con.aboutUs p{
    font-size:16px;
    line-height:25px;
    text-indent: 2em;
}
.conItem  .container_con.aboutUs .address_con{
    margin-top:20px;
}
.address_con .item{
    display: flex;
    align-items: center;
}
.address_con .item  .itemCon{
    flex:1;
    margin-left:10px;
}
.conItem  .container_con.aboutUs .address_con .icon img{
    display:block;
    flex:0 0 88px;
    width:88px;
    height:auto;
}
.conItem  .container_con.infoCenter ul li{
    display:block;
    margin-bottom:15px;
    list-style:none;
}
.conItem  .container_con.infoCenter ul li a{
    display:block;
    overflow: hidden;
}
.conItem  .container_con.infoCenter .info_con{
    overflow:hidden;
    display:flex;
}
.conItem  .container_con.infoCenter .left{
    flex:0 0 120px;
    width:120px;
}
.conItem  .container_con.infoCenter .right{
    flex:1;
    padding-left:15px;
}
.conItem  .container_con.infoCenter .left img{
    display:block;
    width:100%;
    height:auto;
}
.conItem  .container_con.infoCenter .left .img_wrapper{
    display:block;
    width:100%;
    height:80px;
}
.conItem  .container_con.infoCenter .right h3{
    font-size:20px;
    line-height:25px;
}
.conItem  .container_con.infoCenter .right .con{
    height:40px;
    font-size:14px;
    color:#4c4c4c;
    margin:0;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
}
.conItem  .container_con.infoCenter .right img{
    display:none;
}
.conItem  .container_con.infoCenter .right i.detail{
    font-size:12px;
    color:#004592;
    line-height:25px;
}
.conItem  .container_con.infoCenter  .more{
    text-align: center;
}
.conItem  .container_con.infoCenter  .more a{
    display:inline-block;
    margin:0 auto;
    border:1px solid #004592;
    border-radius: 3px;
    padding:0 40px;
    font-size:14px;
    line-height:25px;
    color:#004592;
}


    /*footer*/
.footer_wrapper{
    padding:20px 0;
    background:#525252;
}
.footer_wrapper  p{
    line-height:25px;
    font-size:14px;
    color:#fff;
    text-align: center;
}

/*aboutUs*/
.header_wrapper{
    border-bottom:4px solid transparent;
}
.greLine.header_wrapper{
    border-bottom:4px solid #004592;
}
.breadcrumb{
  background:none;
    padding:0;
}
.breadcrumb li{
    font-size:18px;
    color:#333;
    line-height:25px;
}
.breadcrumb li a{
    color: #004592;
}
.breadcrumb>li+li:before{
    content:">";
    color:#333;
}
.aboutUs_wrapper  .address_wrapper{
    margin-top:20px;
}
.aboutUs_wrapper  .address_wrapper .addressTxt{
    margin-bottom:10px;
    color:#333;
    font-weight: bold;
}
.aboutUs_wrapper  .address_wrapper .map_wrapper label{
    max-width: none;
}
    /*service*/
.service_wrapper .leftTitleList li{
    margin-bottom:15px;
}
.service_wrapper .leftTitleList li a{
    display:block;
    width:100%;
    height:50px;
    line-height:50px;
    background:#f0f0f0;
    color:#666;
    padding:0 15px;
    font-size:16px;
}
.service_wrapper .leftTitleList li.active a,.service_wrapper .leftTitleList li:hover a{
    background:#004592;
    color:#fff;
}

.service_wrapper .serviceDetail .serviceTitle h3{
     font-size:24px;
     line-height:25px;
     color:#222;
     text-align: center;
     margin-bottom:10px;
}
.service_wrapper .serviceDetail .service_con h5{
    font-size:18px;
    text-align: center;
    line-height:25px;
    margin:7px 0 14px 0;
}
.service_wrapper .serviceDetail .service_con p{
    font-size:16px;
    line-height:25px;
    margin-bottom:10px;
    text-indent: 2em;
}
.service_wrapper .serviceDetail .service_con img{
    display:block;
    margin:0 auto;
    width:80%;
    height:auto;
}

/*infoDetail*/
.infoDetail .info_wrapper .container_con .title_wrapper h3{
    font-size:24px;
    line-height:25px;
    margin-bottom:10px;
    text-align: center;
}
.infoDetail .info_wrapper .container_con  .con_wrapper,.infoDetail .info_wrapper .container_con  .con_wrapper p{
    font-size:16px;
    line-height:25px;
    margin-bottom:10px;
    text-indent: 2em;
}
.infoDetail .info_wrapper .container_con  .con_wrapper img{
    display:block;
    margin:10px auto;
    max-width:80%;
    height:auto;
}